services:
  web:
    container_name: "web"
    restart: unless-stopped
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: $VITE_API_BASE_URL
    env_file:
      - .env
    ports:
      - "80:80"
    networks:
      - interrogation_network

  node:
    container_name: "node"
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "$PORT:$PORT"
    env_file:
      - .env
    networks:
      - interrogation_network

  python:
    container_name: "python"
    image: speech-to-text:latest
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - interrogation_network
    environment:
      - PYTHONPATH=/app

networks:
  interrogation_network:
    name: interrogation_network
    driver: bridge
