services:
  web:
    container_name: "web"
    restart: unless-stopped
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
        
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - interrogation_network

  node:
    container_name: "node"
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3001:3001"
    env_file:
      - .env
    networks:
      - interrogation_network

  python:
    container_name: "python"
    build:
      context: ./backend-py
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - interrogation_network
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app

networks:
  interrogation_network:
    name: interrogation_network
    driver: bridge
