services:
  # web:
  #   container_name: "web"
  #   restart: unless-stopped
  #   build:
  #     context: ./
  #     dockerfile: Dockerfile
  #     args:
  #       - NODE_ENV=$NODE_ENV
  #       - VITE_API_BASE_URL=$VITE_API_BASE_URL
  #   environment:
  #     - NODE_ENV=$NODE_ENV
  #     - VITE_API_BASE_URL=$VITE_API_BASE_URL
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - interrogation_network

  # node:
  #   container_name: "node"
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   restart: unless-stopped
  #   ports:
  #     - "4001:4001"
  #   env_file:
  #     - .env
  #   networks:
  #     - interrogation_network

  python:
    container_name: "python"
    build:
      context: ./backend-py
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - interrogation_network
    environment:
      - PYTHONUNBUFFERED=1

networks:
  interrogation_network:
    name: interrogation_network
    driver: bridge
