services:
  # web:
  #   container_name: "web"
  #   restart: unless-stopped
  #   build:
  #     context: ./
  #     dockerfile: Dockerfile
  #     args:
  #       - NODE_ENV=$NODE_ENV
  #       - VITE_API_BASE_URL=$VITE_API_BASE_URL
  #   environment:
  #     - NODE_ENV=$NODE_ENV
  #     - VITE_API_BASE_URL=$VITE_API_BASE_URL
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - interrogation_network

  node:
    container_name: "node"
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "4001:4001"
    env_file:
      - .env
    networks:
      - interrogation_network

  python:
    container_name: "python"
    # build:
    #   context: ./backend-py
    #   dockerfile: Dockerfile
    image: interrogation-python:latest
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - interrogation_network
    environment:
      - PYTHONUNBUFFERED=1

  postgres:
    container_name: "postgres"
    image: postgres:14-alpine
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -U $POSTGRES_USERNAME -d $POSTGRES_DATABASE"]
      interval: 5s
      retries: 5
      start_period: 5s
    environment:
      POSTGRES_USER: $POSTGRES_USERNAME
      POSTGRES_DB: $POSTGRES_DATABASE
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    networks:
      - interrogation_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    name: postgres_data
    driver: local

networks:
  interrogation_network:
    name: interrogation_network
    driver: bridge
